/* Footer */

footer {
    padding: 1em;
    color: var(--white);
    background: var(--grey-3);
    padding: 1em;
}

.footer-title {
    margin-bottom: 1em;
    font-size: 1em;
}

.footer-link-container {
    display: flex;
    gap: 1em;
    margin-bottom: 0.2em;
}

.footer-icon {
    width: 10px;
    height: 10px;
}

.footer-link:hover {
    text-decoration: underline;
}



@media (min-width: 1024px) {

    /* Footer */

    .footer-title {
        text-align: center;
    }

    .footer-links {
        display: flex;
        justify-content: space-evenly;
    }

}