.parent__spinner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    height: 100%;
    width: 100%;
    opacity: 1;
    animation: fade;
    animation-duration: 0s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}


.loading__spiner {
    /*création du loader*/
    border: 20px solid white;
    border-top: 20px solid var(--pink);
    border-bottom: 20px solid var(--purple);
    border-radius: 50%;
    /*arrondi des angles*/
    width: 200px;
    height: 200px;
    margin: auto;
    /*placement milieu de page*/
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    animation-name: spin;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        visibility: visible;
    }

    50% {
        transform: rotate(180deg);
        visibility: visible;
    }

    to {
        transform: rotate(360deg);
        visibility: hidden;

        height: 100px;
        width: 100px;

    }
}

@keyframes fade {
    from {
        opacity: 1;
        display: block;
    }

    to {
        opacity: 0;
        z-index: -100;
        display: none;
        height: 0;
        width: 0;
        display: none;
        clip-path: circle(0);
        /* rognage de la totalité donc disparition*/
    }
}

@keyframes monanim {
    from {
        overflow: hidden;
    }

    to {
        overflow: visible;
    }
}


.body {
    animation: monanim;
    animation-duration: 2s;
}